@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";


body {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.fixed-bottom {
  position: absolute;
  bottom: 1rem;
  left : 1rem;
}

.drop-shadow {
  filter: drop-shadow(3px 3px 3px black );
}

.char-shadow {
  filter: drop-shadow(25px -5px 25px black );
}

.bg-main {
    background: url(../img/blacksmith.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
}

.bg-template {
    background: url(../img/template.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.bg-template:hover {
  background: url(../img/delete.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
}

.bg-filled-template {
    background: url(../img/template.png) no-repeat center center;
    background-size: cover;
    background-position:bottom;
    overflow: hidden;
}

.bg-parchment {
  background: url(../img/parchment.png);
  border: 15px;
  border-color:saddlebrown;
  border-style: groove;
  background-size:cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.text-transparent {
  color: transparent;
}

.bord-info {
  border: 15px;
  border-color: var(--info);
  border-style:groove;
}

.bord-success {
  border: 15px;
  border-color: var(--success);
  border-style: groove;
}

.bord-secondary {
  border: 15px;
  border-color: var(--secondary);
  border-style: groove;
}

.bord-warning {
  border: 15px;
  border-color: var(--warning);
  border-style: groove;
}

.bord-danger {
  border: 15px;
  border-color: var(--danger);
  border-style: groove;
}